name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11.2"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install moviepy  # 安装 moviepy 模块
        pip install bs4  # 安装 bs4 模块
        pip install Pillow==10.0.0

        

    - name: Run zimu.py
      run: |
        cd movieCreate
        python batch.py
